
header .container {
  display:flex;
  justify-content:space-between;
  padding:15px 0;
}
header .container .links{
  display:flex;
  gap:10px;
}
header .container ul{
  display:flex;

}
header .container ul li{
  text-decoration:none;
  padding: 0 10px;
  line-height: 40px;
  
}
header .container ul li a{
  color:#fff;
}
header .container ul li a:hover{
  color:#F78604;
}