
/* Global Rules */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-color:#111715;
  --primary-color: #F78604;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #111715;
    font-family: "Poppins", sans-serif;
    transition: 0.3s background-color;
}

::selection {
    background-color: hsl(var(257),100%, 60%, 0.6);
    color: #fff;
}

a {
    text-decoration:none;
}

ul {
    list-style: none;
}
/* reusable */
.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}


.logo {
    margin-right: 1.5rem;
    transition: 0.3s;
    font-family: "Arbil Fatface",cursive;
    font-size: 1.5rem;
    color: var(--text-color);
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s;
}

.logo span {
    color: var(--main-color-1);
}


.sub-heading {
    color: var(--heading-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.heading {
    color: var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    line-height: 1.3;
    transition: 0.3s color;
}

.text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
    transition: 0.3s color;
}


.section {
    position: relative;
    padding: var(--section-padding) 0;
}


/* Start Articles */
.articles {
    position: relative;
  }
  .articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  .articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  }
  .articles .box img {
    width: 100%;
    max-width: 100%;
  }
  .articles .box .content {
    padding: 20px;
  }
  .articles .box .content h3 {
    margin: 0;
  }
  .articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
  }
  .articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
  }
  .articles .box .info i {
    color: var(--main-color);
  }
  .articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
  }
.main-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
  }
  /* End Articles */


/* fixed links */
.fix-links {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.fix-links .social-link {
    margin-bottom: 10px;
}

/* Start Navbar */
.logo-span{
  color: var(--primary-color);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled {
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0,0.01);
    backdrop-filter: blur(15px);
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header.scrolled .logo {
    height: 80px;
    line-height: 80px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 80px;
    line-height: 80px;
    font-size: 35px;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
    padding: 10px 5px;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    left: -5px;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--main-color-1);
}

.nav-link:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 0.2;
}

.toggle-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.05);
    background-color: var(--bg-color-2);
    transition: 0.3s;
    margin-right: 1.1rem;
}

.toggle-btn:hover {
    filter: brightness(97%);
}
/* End Navbar */

/* Start Testemonials */
.slider-container {
  margin: 10px auto;
  width: 800px;
  height: 250px;
  position: relative;
}
.slider-container .client {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}
.slider-container .client.active-testemonial {
opacity: 1;
}
.slider-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, .6);
  color: #FFF;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls {
  width: 800px;
  margin: auto;
  overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  /* user-select: none; */
  width: 20%;
}
.slider-controls .prev {
  float: left;
}
.slider-controls .next {
  float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}
.slider-controls .indicators {
  width: 60%;
  float: left;
}
.slider-controls .indicators ul {
list-style: none;
margin: 0;
text-align: center;
}
.slider-controls .indicators ul li {
display: inline-block;
background-color: #F6F6F6;
color: #333;
font-weight: bold;
height: 28px;
width: 28px;
border-radius: 4px;
margin: 0 2px;
line-height: 28px;
cursor: pointer;
}
.slider-controls .indicators ul li.active-testemonial {
background-color: #009688;
color: #FFF;
}

.client{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testemonial-image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testemonial-image-container img{
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 50%;

}


.client .text{
    width: 80%;
    text-align: center;
}
/* End Testemonials */
/* Start Contact */
.contact .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
}

.mail {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.mail i {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.mail:hover {
    color: var(--primary-color);
}

.mail:hover i {
    margin-left: 10px;
}

.contact-form {
    background-color: #79807c;
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s background-color;

}

.contact-form h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
    transition: 0.3s color;
}

.contact-info ul {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
}
.contact-info .text,
.contact-info .heading {
  color: var(--text-color);
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background-color:  rgba(255,255,255,0.6);
    border: 2px solid var(--bg-color);
    width: 100%;
    border-radius: 7px;
    font-family: inherit;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.85rem;
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder {
}

.form-input:hover {
    filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
    filter: brightness(100%);
    background-color: hsl(var(257),100%,97%);
    border-color: var(--primary-color);
}

textarea.form-input {
    resize:none;
    min-height: 170px;
}

.contact-form .form-input {
    margin-bottom: 1.5rem;
}

footer {
    padding: 0 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .social-media {
    display: flex;
}

.social-link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1rem;
    /* background-color: black; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-size: 30px;
}
.social-link:hover {
    color: var(--primary-color);

}


.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: .85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
    border: none;
    outline: none;
    transition: 0.3s;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(247, 69, 69);
}

/* End Contact */


/* Start Footer */
.footer-social-link{
  font-size: 24px;
  color: white;
  transition: 0.3s;
}
.footer-social-link:hover {
  color: var(--primary-color);
}

.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../assets/imgs/cat-01.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
  .footer .container {
    position: relative;
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    /* width: fit-content; */
    margin: 20px auto;
  }
  .footer .social-icons i {
    padding: 10px 15px;
  }
  .footer .copyright {
    margin-top: 60px;
  }
  .footer .copyright span {
    font-weight: bold;
    color: var(--primary-color);
  }

  .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* End Footer */
/* Start Subscribe */
.subscribe {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../assets/imgs/cat-01.jpg");
    background-size: cover;
    position: relative;
    color: white;
  }
  .subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
  }
  .subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
  }
  .subscribe form input[type="email"] {
    border: 1px solid white;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: red;
    width: calc(100% - 130px);
  }
  .subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    margin-left: 10px;
    /* border-left: none; */
    text-transform: uppercase;
  }
  .subscribe form input[type="email"]:focus,
  .subscribe form input[type="submit"]:focus {
    outline: none;
  }
  .subscribe form ::placeholder {
    color: white;
  }
  .subscribe p {
    line-height: 2;
    margin-left: 50px;
  }
  /* End Subscribe */



  /* Start Gallery */
.gallery {
    position: relative;
    background-color: var(--section-background);
  }
  .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  }
  .gallery .box .image {
    position: relative;
    overflow: hidden;
  }
  .gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  }
  .gallery .box .image:hover::before {
    animation: flashing 0.7s;
  }
  .gallery .box img {
    max-width: 100%;
    transition: 0.3s;
  }
  .gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
  }
  /* End Gallery */

  /* Start Landing */

  .landing{
    height: 100vh;
    position: relative;
  }

  .landing .back {
    display: flex;
    z-index: 1;
  }

  .landing .back .left {
    background-color: var(--bg-color);
    width: 75%;
    height: 100vh;
}

.landing .back .right {
    background-color: #F78604;
    width: 25%;
    height: 100vh;
}

.landing .front {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 100vh;
  }

  .landing .front .text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
  }

  .landing .front .text div {
    font-size: 36px;
    line-height: 1.3;
  }

  .landing .front .text p {
    width: 70%;
    line-height: 1.3;
    padding: 20px 0;
  }

  .landing .front .text button{
    padding: 10px;
  }

  /* End Landing */


  /* Global */
.section-margin{
  margin-bottom: 100px;
  margin-top: 100px;
}




